@use "./variable" as v;
@use "./mixin" as m;

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

h1 {
    font-size: 2.5rem;
}

.section-title {
    font-size: 48px;
    letter-spacing: 0.1em;
    margin-bottom: 50px;
    text-align: center;

    @include m.sp {
        font-size: 32px;
        margin-bottom: 0;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: v.$color_main;
}

@font-face {
    font-family: AkazukinPop;
    src: url("../fonts/AkazukinPOP2/");
    font-weight: normal;
    font-style: normal;
}

.wrapper {
    max-width: 1020px;
    margin-inline: auto;
}

.section-title {
    opacity: 0;
    transition: all 1.2s ease-out;
}

.slideTitle {
    animation: slideInRight 1s ease forwards;
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(200px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* ================================
   パンくずリスト
================================ */
.breadcrumb {
    list-style: none;
    display: flex;
    gap: 0.5rem;
    margin: auto 0;
    padding: 2rem 13rem;

    @include m.sp {
        padding: 1rem 25px;
        font-size: 0.85rem;
        flex-wrap: wrap;
        gap: 0.3rem;
    }

    .breadcrumb-item {
        a {
            text-decoration: none;
            color: #007bff;
        }

        &+.breadcrumb-item::before {
            content: ">";
            margin: 0 0.5rem;
            color: #666;

            @include m.sp {
                margin: 0 0.3rem;
            }
        }

        &.active {
            color: #333;
            font-weight: 600;
        }
    }
}

.deco {
    position: absolute;
    display: inline-block;
    width: 230px;
    z-index: 0;

    @include m.sp {
        width: 160px;
    }
}